.footerIcons {
    color: #fff !important;
    font-size: 28px !important;
    cursor: pointer;
    margin: 0 10px;
}

.fbIcon:hover {
    color: rgb(5, 125, 173) !important;
}

.instaIcon:hover {
    color: rgb(159, 6, 32) !important;
}

.twitterIcon:hover {
    color: rgb(34, 124, 198) !important;
}

.ytIcon:hover {
    color: red !important;
}